
.topnav {
    background-color: rgba(160, 199, 206, 0.404);
    overflow: hidden;
  }
  
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  

  .topnav a:hover {
    background-color: #ddd;
    color: rgba(0, 0, 0, 0.333);
  }
  
  
  .topnav a.active {
    background-color: #04aa6d73;
    color: rgba(255, 255, 255, 0.294);
  }
  
  a:link {
    font-family:Arial, Helvetica, sans-serif
  }
  
  a:visited {
    font-family:Arial, Helvetica, sans-serif
  }
  
  a:hover {
    font-family:Arial, Helvetica, sans-serif
  }
  
  a:active {
    font-family:Arial, Helvetica, sans-serif
  }


